.area_spec_admin{
    resize: none;
    width: 49.2% !important;
    height: 200px;
}

.form_adminka{
    margin: 10px;
}

.login_form_admin_border{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    width: 195px;
}

.login_form_admin{

}
