.area_spec_admin{
    resize: none;
    width: 49.2% !important;
    height: 200px;
}

.form_adminka{
    margin: 10px;
}

.login_form_admin_border{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    width: 195px;
}

.login_form_admin{
    padding: 18%;
}

.login_form_admin strong{
    font-weight: bold;
}

.login_form_admin button{
    font-weight: bold;
    cursor: pointer;
}

.login_form_admin_button{
    text-align: center;
}

.center-form{
    display: flex;
    justify-content: center ;
    align-items: center;
}

.adminka_menu {
    margin: 10px;
}
.adminka_menu a {
    color: black;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    background: #EBEBEB;
}
.adminka_menu a:hover {
    border-bottom: 2px solid #333; }
.adminka_menu li {
    margin: 7px;
}